.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-background{
  background-color: #e1fcf3;
  font-weight:bold;
  font-size:15px;
  text-align:center;
  /* height:20px;
  width:300px; */
}
.para-second{
  font-weight:bold;
  font-size:15px;
}
.para-third{
  font-size:14px;
  font-weight:400;
}
.month{
  width:30px;
  
}
.cost{
  font-weight:bold;
}
.side-heading{
  font-size:17px;
  font-weight:bold;
}
.check-class{
  font-size:14px;
  font-weight:500;
}
.free-button{
  background-color: black;
  color:white;
  border-radius:20px;
  font-weight:600;
  width:270px;
  height:39px;
}
.trail-button{
  background-color: black;
  color:white;
  border-radius:20px;
  font-weight:600;
  width:139px;
  height:31px;
  font-size:15px;

}
.center-button{
  border: solid 2px #83f7e0;
  border-radius:28px;
}
.pay-button {
  background-color: black;
  color:white;
  border-radius:20px;
  font-weight:600;
  width:139px;
  height:36px;
  font-size:15px;
}
.main-cont{
  background-image:linear-gradient(to right, white, white,white, #b6faf7);
}
